
$black: #000000;
$blue: rgb(25, 25, 205);
$gray: rgb(113, 113, 113);
$boder-color:#dedede; 
$gray-whitesmoke:whitesmoke;
$gray-footer: #d3d7dc;

* {
    margin: 0;
    padding: 0;
    color: black;
}
.bg-gray-footer{
    background-color: $gray-footer;
}
.menunav{
    height: 56px;
    box-shadow: 0 1px 1px -1px #333;
    align-self: flex-start;
    width: 100vw;  
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;  
    
}
.sidenav a + div{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 36px;
    margin-left: 50px;
}
.div-logo{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    .site-logo{
        width: 54px;
        height: 40px;
        border-radius: 8px;
        box-sizing: border-box;
        background-image: url("https://cdn4.iconfinder.com/data/icons/logos-and-brands-1/512/84_Dev_logo_logos-512.png");
        background-position: center;
        background-size: cover;
        &:hover{
            opacity: .7;
        }
    }
}

.iconos{
    height: 40px;
    width: 40px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-right: 10px;
    &:hover{
        border-radius: 1000px;
        background-color: #F6F6F6;
    }
}
.avatar{
    width: 30px;
    height: 30px;
    background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--4jmu4dyU--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/590734/31d54d9d-b30a-40f4-afcc-3aa60880a06c.png");
    background-size: cover;
    border-radius: 1000px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-right: 15px;
}
.dropdown-content {
    width: 95vw;
    background-color: white;
    min-width: 160px;
    border: 2px solid black;
    left: -5px !important;
    box-shadow: 5px 5px black;
    a{
        &:hover{
            color: blue;
        }
    }
}
.search{
    width: 385px; 
    height:40px; 
    background-color:#fafafa; 
    border-radius: 5px; 
    border: #B6BDC3 solid 1px;
}
.boton{
    background-color:  #3E49D7;
    width: 120px;
    height: 40px;
    border-radius: 7px;
    text-align: center;
    color: white;
    margin-left: 15px;
    &:hover{
        background-color: #343EB7;
    }
}
@media screen and (min-width:640px){
    .dropdown-content {
    
        width: 35vw;
        background-color: white;
        border: 2px solid black;
        
        left: -5px !important;
        box-shadow: 5px 5px black;
        
    }
}
@media screen and (min-width:992px){
    .dropdown-content {
    
        width: 20vw;
        background-color: white;
        border: 2px solid black;
        
        left: -5px !important;
        box-shadow: 5px 5px black;
        
    }
    .ps-lg-variable{
        padding-left: 5rem !important;
    }
}


.footer-cols{
    width: auto;
    padding: .5rem;
}
footer{
    text-align: center;
    p{
        text-size-adjust: .875rem;
    }
}
.s-auto{
    width: auto;
    padding: .5rem;
}
.sloth{
    position: absolute;
    top:0;
    right:5vw;
}
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    position: absolute;
    top:45vh;
    right: 25px;
    z-index: 2;
    background-color: solid white;
    
}
.accordion{
    background-color: white ;
    border: none;
    outline: none;
    transition: 0.4s;
    position: relative;
    z-index: 1;
    &:hover{
        
        opacity: 0;
    }
}

  
body {
    background-color: #eef0f1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

h2 {
    font-size: 40px;
    line-height: 44px;
    font-weight: bold;
}

@media only screen and (min-width: 0px) {

    .subnav-mobile {
        display: flex;
        justify-content: start;
        padding: 10px 10px 2px;

            .section-title {
                margin-right: auto;
                display: flex;
                align-items: center;
                    H1 {
                        font-size: 20px;
                        font-weight: 600;
                    }
            }

            select {
                background-color: white;
                border: thin solid $boder-color;
                border-radius: 7px;
                padding: 10px 25px 10px 8px;
                margin-right: 14px;
                display: flex;
                align-content: center;
                /*appearance: unset;*/
            }

    }

    .subnav {
        display: none;
        padding: 10px 10px 4px;
        justify-content: start;
        height: 60px;
        
            H1 {
                color: $black;
                font-size: 22px;
                margin-right: auto;
                padding: 5px 0;
                font-weight: 600;
            }
            .subnav-bar {
                display: flex;
                a {
                    padding: 10px;
                    color: $black;
                    height: 45px;
                    &.active{ 
                        border-bottom: 3px solid $blue;
                        padding: 10px 0px;
                            &:hover {
                                padding: 10px 10px;
                                background-color: #174ece14;
                                border-radius: 6px 6px 0px 0px;
                            }
                    }
                    &:hover {
                        border-bottom: 3px solid blue;
                    }
                }
            }
    }

    .article {
        box-shadow: 1px 2px 8px #d2d2d2;  
            .card {
                    .cover {
                        padding-bottom: 43%;
                        background-position: center;
                        background-size: cover;
                            &#uno {
                                background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--S2f8n0g4--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/i4rttdp19eqxrthfzx40.png)
                                }
                        }
                        .user {
                            margin-bottom: 10px;
                                .avatar {
                                    height: 30px;
                                    width: 30px;
                                    margin-right: 10px;
                                        .icon-avatar {
                                            border: thin solid $boder-color;
                                            border-radius: 15px;
                                            width: 100%;
                                        }
                                }                                
                                p {
                                    display: block;
                                }

                        }
                        
                        .tag {
 
                            ul {
                                color: #b4b4b4;
                                list-style: none;
                                display: flex;
                                font-weight: 300;
                                margin: 5px 0;
                                padding: 0;
                                    li {
                                        margin: 0 5px;
                                        color: #cdcdcd;
                                        font-size: 15px;
                                        &:hover {
                                            color:#454444;
                                        }
                                    }
                            }
                        }
                        .social-interaction {
                            display: flex;
                            justify-content: start;
                                #reaction, #read {
                                    margin-right: 5px;
                                }
                                #comment {
                                    margin-right: auto;
                                }
                                #read {
                                   font-size:10px; 
                                }
                        }
                        .btn-social {
                            background: white;
                            padding: 5px 12px;
                            font-size: 15px;
                                &:hover {
                                    background: #eef0f1;
                                    border-radius: 6px;
                                }
                        }
                        .active {
                            background-color: #d9d9d9 !important;
                            border-radius: 6px;
                                &:hover {
                                    background: #bbbbbb !important;
                                }
                        }
                        .comments {
                            padding: 10px 10px 1px 10px;
                            background-color: #eef0f1;
                                .user-comment {
                                    margin-bottom: 10px;
                                        .avatar-comment {
                                            height: 30px;
                                            width: 30px;
                                            margin-right: 10px;
                                                .icon-avatar-comment {
                                                    border: thin solid $boder-color;
                                                    border-radius: 15px;
                                                    width: 100%;
                                                }
                                        }       
                                }
                                p {
                                    margin: 5px 0 25px;
                                        &:nth-of-type(2) {
                                            margin: 5px 0 15px;
                                        }
                                }
                        }
                }
        } 


        .card-article {
            box-shadow: none !important;
            border: thin solid $boder-color;
            min-height: 200px;
                .tex-See{
                    cursor: pointer;
                    color: #3E49D7;
                }
                
                .card-topic {
                    font-size: 14px;
                    color: $gray;
                }
             
                .card-news {
                   
                        &:hover {
                            background-color: #f2f2f2;
                        }
                }
                .card-create-listing {
                    
                    text-align: center;
                        a {
                            text-decoration: none;
                            color: black;
                                &:hover {
                                    color: purple;
                                }

                        }
                }
                .tex-news{
                    font-size: 30px;
                        a {
                            text-decoration: none;
                                &:hover {
                                    cursor: pointer;
                                    color: #3E49D7;
                                    }
                            }
                }
                
        
        }
} /*media only 0*/
  @media only screen and (min-width: 768px) {
    .subnav-mobile {
        display: none;
    }

    .subnav {
        display: flex
    }
      
    .tex-img-1{
        font-size: 1.5rem;
    }
   
    .tex-img {
        text-align: center;
        color: blue;
        cursor: pointer;
        animation-duration: 3s;
        margin-bottom: 2rem;
        margin-top: 15px;
        font-size: 2rem;
    }

    .img-2{
        background-image: url(../img/57390242_386431405416711_440644832181536446_n.jpg__nc_ht=scontent-lga3-1.cdninstagram.com);
        width: 100%;
        height: auto;
        min-height: 180px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        margin-bottom: 5px;
        cursor: pointer;
        animation-duration: 3s;
    }
        
}


@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1200px) {
}