* {
  margin: 0;
  padding: 0;
  color: black;
}

.menunav {
  height: 56px;
  box-shadow: 0 1px 1px -1px #333;
  align-self: flex-start;
  width: 100%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a + div {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: -10px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}

.div-logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div-logo .site-logo {
  width: 54px;
  height: 40px;
  border-radius: 8px;
  box-sizing: border-box;
  background-image: url("https://cdn4.iconfinder.com/data/icons/logos-and-brands-1/512/84_Dev_logo_logos-512.png");
  background-position: center;
  background-size: cover;
}
.div-logo .site-logo:hover {
  opacity: 0.7;
}

.iconos {
  height: 40px;
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: 10px;
}
.iconos:hover {
  border-radius: 1000px;
  background-color: #F6F6F6;
}

.avatar {
  width: 30px;
  height: 30px;
  background-image: url("https://res.cloudinary.com/practicaldev/image/fetch/s--4jmu4dyU--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/590734/31d54d9d-b30a-40f4-afcc-3aa60880a06c.png");
  background-size: cover;
  border-radius: 1000px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-right: 15px;
}

.dropdown-content {
  width: 95vw;
  background-color: white;
  min-width: 160px;
  border: 2px solid black;
  left: -5px !important;
  box-shadow: 5px 5px black;
}

.search {
  width: 385px;
  height: 40px;
  background-color: #fafafa;
  border-radius: 5px;
  border: #B6BDC3 solid 1px;
}

.boton {
  background-color: #3E49D7;
  width: 120px;
  height: 40px;
  border-radius: 7px;
  text-align: center;
  color: white;
  margin-left: 15px;
}
.boton:hover {
  background-color: #343EB7;
}

@media screen and (min-width: 640px) {
  .dropdown-content {
    width: 35vw;
    background-color: white;
    border: 2px solid black;
    left: -5px !important;
    box-shadow: 5px 5px black;
  }
}
body {
  background-color: #eef0f1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h2 {
  font-size: 40px;
  line-height: 44px;
  font-weight: bold;
}

@media only screen and (min-width: 0px) {
  .article {
    box-shadow: 1px 2px 8px #d2d2d2;
  }
  .article .card .cover {
    padding-bottom: 43%;
    background-position: center;
    background-size: cover;
  }
  .article .card .cover#uno {
    background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--S2f8n0g4--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/i4rttdp19eqxrthfzx40.png);
  }
  .article .card .user {
    margin-bottom: 10px;
  }
  .article .card .user .avatar {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .article .card .user .avatar .icon-avatar {
    border: thin solid #dedede;
    border-radius: 15px;
    width: 100%;
  }
  .article .card .user p {
    display: block;
  }
  .article .card .tag ul {
    color: #b4b4b4;
    list-style: none;
    display: flex;
    font-weight: 300;
    margin: 5px 0;
    padding: 0;
  }
  .article .card .tag ul li {
    margin: 0 5px;
    color: #cdcdcd;
    font-size: 15px;
  }
  .article .card .tag ul li:hover {
    color: #454444;
  }
  .article .card .social-interaction {
    display: flex;
    justify-content: start;
  }
  .article .card .social-interaction #reaction, .article .card .social-interaction #read {
    margin-right: 5px;
  }
  .article .card .social-interaction #comment {
    margin-right: auto;
  }
  .article .card .social-interaction #read {
    font-size: 10px;
  }
  .article .card .btn-social {
    background: white;
    padding: 5px 12px;
    font-size: 15px;
  }
  .article .card .btn-social:hover {
    background: #eef0f1;
    border-radius: 6px;
  }
  .article .card .active {
    background-color: #d9d9d9 !important;
    border-radius: 6px;
  }
  .article .card .active:hover {
    background: #bbbbbb !important;
  }
  .article .card .comments {
    padding: 10px 10px 1px 10px;
    background-color: #eef0f1;
  }
  .article .card .comments .user-comment {
    margin-bottom: 10px;
  }
  .article .card .comments .user-comment .avatar-comment {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  .article .card .comments .user-comment .avatar-comment .icon-avatar-comment {
    border: thin solid #dedede;
    border-radius: 15px;
    width: 100%;
  }
  .article .card .comments p {
    margin: 5px 0 25px;
  }
  .article .card .comments p:nth-of-type(2) {
    margin: 5px 0 15px;
  }
}
/*media only 0*//*# sourceMappingURL=style.css.map */